{% extends "base.html" %}

{% block title %}Detalle del Insumo{% endblock %}

{% block content %}
<h1>Detalle del Insumo</h1>
<table class="table table-bordered">
    <tr>
        <th>Identificador</th>
        <td>{{ insumo.identificador }}</td>
    </tr>
    <tr>
        <th>Nombre</th>
        <td>{{ insumo.nombre }}</td>
    </tr>
    <tr>
        <th>Cantidad Disponible</th>
        <td>{{ insumo.cantidadDisponible }}</td>
    </tr>
    <tr>
        <th>Unidad de Medida</th>
        <td>{{ insumo.unidadMedida }}</td>
    </tr>
    <tr>
        <th>Nivel de Reorden</th>
        <td>{{ insumo.nivelReorden }}</td>
    </tr>
    <tr>
        <th>Fecha de Vencimiento</th>
        <td>{{ insumo.fechaVencimiento }}</td>
    </tr>
    <tr>
        <th>Precio Unitario</th>
        <td>{{ insumo.precioUnitario }}</td>
    </tr>
    <tr>
        <th>Ubicación</th>
        <td>{{ insumo.ubicacion }}</td>
    </tr>
</table>
<a href="{% url 'insumo_list' %}" class="btn btn-secondary">Volver a la lista</a>
{% endblock %}