{% extends "base.html" %}

{% block title %}Lista de Proveedores{% endblock %}

{% block content %}
<h1>Lista de Proveedores</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Contacto</th>
        </tr>
    </thead>
    <tbody>
        {% for proveedor in proveedores %}
        <tr>
            <td>{{ proveedor.id }}</td>
            <td>{{ proveedor.nombre }}</td>
            <td>{{ proveedor.contacto }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}